@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  position:relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

}

/* Main nav*/
.nav-container {
  display:flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem 0;
}

.nav-links a {
  margin: 0 1rem;
}

/* Entry */

.entry-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
/* .entry {
  background: #eccc68;
  border-radius: 3rem;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
} */

.entry-text {
  font-size: 2.8rem;
}

.entry-footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.entry-footer__label__mood {
  margin-bottom: 0;
}

.entry-footer__btn {
  font-size:3rem;
  background: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Form */

.entry-form-wrapper {}
.entry-form {

}

.entry-form .form-control {
  padding: 3rem 0;
  font-size: 3rem;
  height: 100%;
  padding: 0 !important;
  border: none;
  margin: 2rem 0;
}

.entry-form .form-control label{
  display:block;
}

.entry-form .form-control input,
.entry-form .form-control textarea {
  border: 1px solid #95afc0;
  display: block;
  width: 100%;
  margin-top: 2rem;
}

.entry-form .form-control input:placeholder,
.entry-form .form-control textarea:placeholder {
  color: #95afc0;
}

.entry-form .form-btn {
  background-color: #4834d4;
  transition: background-color 0.3s ease-out;
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: .5rem;
  font-weight: 700;
}

.entry-form .form-btn:active,
.entry-form .form-btn:focus,
.entry-form .form-btn:hover {
  background-color: #686de0;
}

.no-entries {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4rem;
}

.no-entries h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.no-entries-btn {
  font-size: 1.6rem;
  background-color: #273c75;
  padding: 1rem 2rem;
  color: white;
  border-radius: .5rem;
  font-weight: 700;
  transition: background-color 0.3s ease-out;
}

.no-entries-btn:hover,
.no-entries-btn:focus {
  color: white;
  text-decoration: none;
  background-color: #192a56;
}